*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100cm;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("350set1.jpg");
    background-size: cover;
    background-position: center;
}
.navbar
{
    width:85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo
{
  width: 20%;
  cursor: pointer;
  size:30px ;

}
.navbar ul li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a
{
    text-decoration: none;
    color: ghostwhite;
    text-transform: uppercase
}
.navbar ul li ::after{

    content:'' ;
    height: 3px;
    width:0 ;
    background-color: goldenrod;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;


}
.navbar ul li :hover::after
{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform:translateY(-50%) ;
    text-align: center;
    color: white;

}
.content h1{
    font-size:70px ;
    margin-top: 80px;
}
.content p{
    margin:20px auto ;
    font-weight:100 ;
    line-height:25px ;
}
 button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10;
    border-radius: 25px;
    font-weight: bold;
    border: solid goldenrod;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}

span{
    background-color: goldenrod;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100% ;
}

button:hover{
    border:none;
}
footer{
    width: 100%;
    position:relative ;
    bottom: 0;
    background: linear-gradient(to right,#006994,#800080   );
    color: rgba(0,0,0,);
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: 20px;
}
.row{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

}
.col{
    flex-basis: 25%;
    padding: 10px;
    
}
.col h3{
    width: fit-content;  
    margin-bottom: 0px;
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid ;
    margin: 20px 0;

}
.wrapper .icon{
    position: relative;
    
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: black;
    text-decoration: none;
  }
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    line-height: 1.5;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
  }
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
  }
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
  }
  .row-body
  {
      width: 50%;
      padding: 50px;
      position: absolute;
      font-family: Arial, Helvetica, sans-serif;
      text-align: justify;
      display: flex;
      justify-content: center;
  }
  .col-body{
    flex-basis: 50%;
    justify-content: left;
    padding: auto;
    float: left;
    width: 50%;
    
     }
  .woman{
      size: 100px;
      width: 50%;
      justify-content: right;
      position: absolute;
      align-items: inherit;
      
  }

